streamlit>=1.22.0
pandas>=1.5.0
numpy>=1.23.0
matplotlib>=3.6.0
seaborn>=0.12.0
scikit-learn>=1.2.0
openpyxl>=3.0.0  # For Excel file support
xlrd>=2.0.0      # For older Excel file support
xgboost>=1.7.5
joblib>=1.2.0






